{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native",
    "flowtype"
  ],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "plugin:react-native/all",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "react-native/react-native": true
  },
  "rules": {
    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "flowtype/no-types-missing-file-annotation": 2
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
